<section class="login-body">
  <div class="container">
    <div class="login-wrapper">
      <h1>Login</h1>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="form-group">
          <input type="text" class="form-control email-field" required
                 placeholder="Email" formControlName="username">
          <label>Email</label>
        </div>
        <div class="form-group">
          <input type="password" class="form-control email-field" required
                 placeholder="Password" formControlName="password">
          <label>Password</label>
        </div>
        <div class="forgot">
          <a class="btn-forgot" routerLink="/auth/forgot-password">Forgot password?</a>

        </div>
        <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary">Login</button>
        <a class="signup">Don’t have an account ? <span>Sign Up</span></a>
      </form>
    </div>
  </div>
</section>
